{# RENDERING GROUPS FOR THE INVENTORY #}
closet: {{ item.closet }}
{% if item.hostname|length > 0  %}
hostname: {{ item.hostname }}
{% else %}
hostname: {{ item.closet }}-{{ item.profile }}
{% endif %}
make: {{ item.make }}
mgmt_host_ip: {{ item.mgmt_host_ip }}
model: {{ item.model }}
profile: {{ item.profile }}
serial_number: {{ item.serial_number }}
switch_count: {{ item.switch_count }}
vlan_id_range: {{ item.vlan_id_range }}
