{%- set vlan_list = item.vlan_id_range.split(',') -%}
{%- set my_vlans = [] -%}
{%- for i in vlan_list -%}
  {%- if '-' is in i -%}
    {%- set x = i.split('-') -%}
    {%- for z in range(x[0]|int,x[1]|int+1,1) -%}
      {{ my_vlans.append(z|int) }}
    {%- endfor -%}
  {%- else -%}
    {{ my_vlans.append(i|int) }}
  {%- endif -%}
{%- endfor -%}
interfaces {
{% for link in cabling %}
  {% if link.dst_device == item.hostname %}
    {% if link.dst_lag|length > 0 %}
    {{ link.dst_int }} {
        description "{{ link.src_device }}:{{ link.src_int }}"
        ether-options {
            802.3ad {{ link.dst_lag }};
        }
    }
    {{ link.dst_lag }} {
        description "{{ link.src_device }}:{{ link.src_lag }}";
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
        native-vlan-id {{ vlan.id }};
        {% endif %}
      {% endfor %}
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ all ];
                }
            }
        }
    }
    {% else %}
    {{ link.dst_int }} {
        description "{{ link.src_device }}:{{ link.src_int }}";
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
        native-vlan-id {{ vlan.id }};
        {% endif %}
      {% endfor %}
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ all ];
                }
            }
        }
    }
    {% endif %}
  {% endif %}
{% endfor %}
{% for vlan in vlans %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip|length > 0) %}
    {% set my_ip = item.mgmt_host_ip.split('.')[-1] %}
    irb {
        unit {{ vlan.id }} {
            family inet {
                address {{ vlan.subnet|ipaddr(my_ip) }};
            }
        }
    }
  {% endif %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip == '') %}
    irb {
        unit {{ vlan.id }} {
            family inet;
        }
    }
  {% endif %}
{% endfor %}
}

