#jinja2:lstrip_blocks: True
{% include 'interface-groups.j2' %}
{% include 'system.j2' %}
{% include 'snmp.j2' %}
{% include 'chassis.j2' %}
{% include 'virtual-chassis.j2' %}
{% include 'access-interfaces-range.j2' %}
{% include 'forwarding-options.j2' %}
{% include 'routing-options.j2' %}
{% include 'protocols.j2' %}
{% include 'vlans.j2' %}