#jinja2:lstrip_blocks: True
{% include 'system-set.j2' %}
{% include 'snmp-set.j2' %}
{% include 'chassis-set.j2' %}
{% include 'virtual-chassis-set.j2' %}
{% include 'access-interfaces-set.j2' %}
{% include 'forwarding-options-set.j2' %}
{% include 'routing-options-set.j2' %}
{% include 'protocols-set.j2' %}
{% include 'vlans-set.j2' %}