{%- set vlan_list = item.vlan_id_range.split(',') -%}
{%- set my_vlans = [] -%}
{%- for i in vlan_list -%}
  {%- if '-' is in i -%}
    {%- set x = i.split('-') -%}
    {%- for z in range(x[0]|int,x[1]|int+1,1) -%}
      {{ my_vlans.append(z|int) }}
    {%- endfor -%}
  {%- else -%}
    {{ my_vlans.append(i|int) }}
  {%- endif -%}
{%- endfor -%}

### INTERFACES ###
{% for vlan in vlans %}
  {% if vlan.id|int in my_vlans %}
    {% if vlan.name|length > 0 %}
delete interfaces interface-range {{ vlan.name }}-ports
set interfaces interface-range {{ vlan.name }}-ports unit 0 family ethernet-switching vlan members {{ vlan.name }}
    {% else -%}
delete interface-range vlan{{ vlan.id }}-ports
set interface-range vlan{{ vlan.id }}-ports unit 0 family ethernet-switching vlan members vlan{{ vlan.id }}
    {% endif %}
  {% endif %}
{% endfor %}
{% for link in cabling %}
  {% if link.dst_device == item.hostname %}
    {% if link.dst_lag|length > 0 %}
delete interfaces {{ link.dst_int }}
set interfaces {{ link.dst_int }} description "{{ link.src_device }}:{{ link.src_int }}"
set interfaces {{ link.dst_int }} ether-options 802.3ad {{ link.dst_lag }}
delete interfaces {{ link.dst_lag }}
set interfaces {{ link.dst_lag }} description "{{ link.src_device }}:{{ link.src_lag }}"
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
set interfaces {{ link.dst_lag }} native-vlan-id {{ vlan.id }}
        {% endif %}
      {% endfor %}
set interfaces {{ link.dst_lag }} aggregated-ether-options lacp active
set interfaces {{ link.dst_lag }} unit 0 family ethernet-switching interface-mode trunk
set interfaces {{ link.dst_lag }} unit 0 family ethernet-switching vlan members all
    {% else %}
delete interfaces {{ link.dst_int }}
set interfaces {{ link.dst_int }} description "{{ link.src_device }}:{{ link.src_int }}"
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
set interfaces {{ link.dst_int }} native-vlan-id {{ vlan.id }}
        {% endif %}
      {% endfor %}
set interfaces {{ link.dst_int }} unit 0 family ethernet-switching interface-mode trunk
set interfaces {{ link.dst_int }} unit 0 family ethernet-switching vlan members all
    {% endif %}
  {% endif %}
{% endfor %}
{% for vlan in vlans %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip|length > 0) %}
    {% set my_ip = item.mgmt_host_ip.split('.')[-1] %}
delete interfaces irb unit {{ vlan.id }}
set interfaces irb unit {{ vlan.id }} famly inet address {{ vlan.subnet|ipaddr(my_ip) }}
  {% endif %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip == '') %}
delete interfaces irb unit {{ vlan.id }} 
set interfaces irb unit {{ vlan.id }} famly inet
  {% endif %}
{% endfor %}

