{# This generates a Junos chassis config. #}
{# It iteratess over a list of switches called 'switches' and does the following:  

- If "core" is detected in the switch's profile (item.profile), the aggregated device count is set to the total number of list entries in 'switches'
- If "core" is not detected, aggregated devices is set to 1.
- If item.switch_count is more than 1, Junoe GRES is explicitly enabled.

-#}

chassis {
{# IF MORE THAN ONE SWITCH IN THE STACK, ENABLE GRES #}
{%   if item.switch_count|int > 1 %}
    redundancy {
        graceful-switchover;
    }
{%   endif %}
{# SET AGGREGATED DEVICES #}
{% if 'core' is in item.profile %}
  {% set x = switches|length %}
    aggregated-devices {
        ethernet {
            device-count {{ x }};
        }
    }
{% else %}
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
{% endif %}
{# SET WHEN OOB MANAGEMENT PORT IS NOT USED TO REMOVE UNECCESSARY ALARMS #}
    alarm {
        management-ethernet {
            link-down ignore;
        }
    }
}

