{%- set remote_vlans = [] -%}
{%- set vlan_list = item.vlan_id_range.split(',') -%}
{%- set my_vlans = [] -%}
{%- for i in vlan_list -%}
  {%- if '-' is in i -%}
    {%- set x = i.split('-') -%}
    {%- for z in range(x[0]|int,x[1]|int+1,1) -%}
      {{ my_vlans.append(z|int) }}
    {%- endfor -%}
  {%- else -%}
    {{ my_vlans.append(i|int) }}
  {%- endif -%}
{%- endfor -%}
interfaces {
{% for link in cabling %}
  {% if link.src_device == item.hostname %}
    {% set remote_vlans = [] %}
    {% for switch in switches %}
      {% if link.dst_device == switch.hostname %}
        {{ remote_vlans.append(switch.vlan_id_range) }}
      {% endif %}
    {% endfor %}
    {% if link.src_lag|length > 0 %}
    replace:
    {{ link.src_int }} {
        description "{{ link.dst_device }}:{{ link.dst_int }}"
        ether-options {
            802.3ad {{ link.src_lag }};
        }
    }
    replace:
    {{ link.src_lag }} {
        description "{{ link.dst_device }}:{{ link.dst_lag }}";
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
        native-vlan-id {{ vlan.id }};
        {% endif %}
      {% endfor %}
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [{% for vlan in vlans %}{% if (vlan.id in remote_vlans) or (vlan.mgmt == 'yes') %} {{ vlan.id }} {% endif %}{% endfor %}];
                }
            }
        }
    }
    {% else %}
    replace:
    {{ link.src_int }} {
        description "{{ link.dst_device }}:{{ link.dst_int }}";
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
        native-vlan-id {{ vlan.id }};
        {% endif %}
      {% endfor %}
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ {% for vlan in vlans %}{% if vlan.id|int in my_vlans %}{{ vlan.id }} {% endif %}{% endfor %}];
                }
            }
        }
    }
    {% endif %}
  {% endif %}
{% endfor %}
{% for vlan in vlans %}
  {% if (vlan.id|int in my_vlans) and (vlan.subnet|length > 0) %}
    replace:
    irb {
        unit {{ vlan.id }} {
            family inet {
                address {{ vlan.subnet|ipaddr('next_usable')}}/{{ vlan.subnet|ipaddr('prefix') }};
            }
        }
    }
  {% endif %}
  {% if (vlan.id|int in my_vlans) and (vlan.subnet == '') %}
    replace:
    irb {
        unit {{ vlan.id }} {
            family inet;
        }
    }
  {% endif %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip|length > 0) %}
    {% set my_ip = item.mgmt_host_ip.split('.')[-1] %}
    replace:
    irb {
        unit {{ vlan.id }} {
            family inet {
                address {{ vlan.subnet|ipaddr(my_ip) }};
            }
        }
    }
  {% endif %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip == '') %}
    replace:
    irb {
        unit {{ vlan.id }} {
            family inet;
        }
    }
  {% endif %}
{% endfor %}
}
