{%- set remote_vlans = [] -%}
{%- set vlan_list = item.vlan_id_range.split(',') -%}
{%- set my_vlans = [] -%}
{%- for i in vlan_list -%}
  {%- if '-' is in i -%}
    {%- set x = i.split('-') -%}
    {%- for z in range(x[0]|int,x[1]|int+1,1) -%}
      {{ my_vlans.append(z|int) }}
    {%- endfor -%}
  {%- else -%}
    {{ my_vlans.append(i|int) }}
  {%- endif -%}
{%- endfor -%}

### INTERFACES ###
{% for link in cabling %}
  {% if link.src_device == item.hostname %}
    {% set remote_vlans = [] %}
    {% for switch in switches %}
      {%- if link.dst_device == switch.hostname -%}
        {{ remote_vlans.append(switch.vlan_id_range) }}
      {%- endif -%}
    {% endfor %}
    {% if link.src_lag|length > 0 %}
delete interfaces {{ link.src_int }}
set interfaces {{ link.src_int }} description "{{ link.dst_device }}:{{ link.dst_int }}"
set interfaces {{ link.src_int }} ether-options 802.3ad {{ link.src_lag }}
delete interfaces {{ link.src_lag }}
set interfaces {{ link.src_lag }} description "{{ link.dst_device }}:{{ link.dst_lag }}"
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
set interfaces {{ link.src_lag }} native-vlan-id {{ vlan.id }}
        {% endif %}
      {% endfor %}
set interfaces {{ link.src_lag }} aggregated-ether-options lacp active
set interfaces {{ link.src_lag }} unit 0 family ethernet-switching interface-mode trunk
      {% for vlan in vlans %}
        {% if (vlan.id in remote_vlans) or (vlan.mgmt == 'yes') %}
set interfaces {{ link.src_lag }} unit 0 family ethernet-switching vlan members {{ vlan.id }}
        {% endif %}
      {% endfor %}
    {% else %}
delete interfaces {{ link.src_int }}
set interfaces {{ link.src_int }} description "{{ link.dst_device }}:{{ link.dst_int }}"
      {% for vlan in vlans %}
        {% if vlan.mgmt == 'yes' %}
set interfaces {{ link.src_int }} native-vlan-id {{ vlan.id }}
        {% endif %}
      {% endfor %}
set interfaces {{ link.src_int }} unit 0 family ethernet-switching interface-mode trunk
      {% for vlan in vlans %}
        {% if vlan.id|int in my_vlans %}
set interfaces {{ link.src_int }} unit 0 family ethernet-switching vlan members {{ vlan.id }}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
{% for vlan in vlans %}
  {% if (vlan.id|int in my_vlans) and (vlan.subnet|length > 0) %}
delete interfacecs irb {{ vlan.id }}
set interfacecs irb {{ vlan.id }} famly inet address {{ vlan.subnet|ipaddr('next_usable')}}/{{ vlan.subnet|ipaddr('prefix') }}
  {% endif %}
  {% if (vlan.id|int in my_vlans) and (vlan.subnet == '') %}
delete interfaces irb unit {{ vlan.id }}
set interfaces irb unit {{ vlan.id }} famly inet
  {% endif %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip|length > 0) %}
    {% set my_ip = item.mgmt_host_ip.split('.')[-1] %}
delete interfaces irb unit {{ vlan.id }}
set interfaces irb unit {{ vlan.id }} famly inet address {{ vlan.subnet|ipaddr(my_ip) }}
  {% endif %}
  {% if (vlan.mgmt == 'yes') and (item.mgmt_host_ip == '') %}
delete interfaces irb unit {{ vlan.id }}
set interfaces irb unit {{ vlan.id }} famly inet
  {% endif %}
{% endfor %}
