{%- set vlan_list = item.vlan_id_range.split(',') -%}
{%- set my_vlans = [] -%}
{%- for i in vlan_list -%}
  {%- if '-' is in i -%}
    {%- set x = i.split('-') -%}
    {%- for z in range(x[0]|int,x[1]|int+1,1) -%}
      {{ my_vlans.append(z|int) }}
    {%- endfor -%}
  {%- else -%}
    {{ my_vlans.append(i|int) }}
  {%- endif -%}
{%- endfor -%}
groups { 
{% for vlan in vlans %}
  {% if vlan.id|int in my_vlans %}
    {% if vlan.name|length > 0 %}
    group-{{ vlan.name }} {
        interfaces {
            <ge-*/0/*> {
                unit 0 {
                    family ethernet-switching {
                        vlan {
                            members {{ vlan.name }};
                        }
                    }
                }
            }
        }
    }
    {% else %}
    group-vlan{{ vlan.id }} {
        interfaces {
            <ge-*/0/*> {
                unit 0 {
                    family ethernet-switching {
                        vlan {
                            members vlan{{ vlan.id }};
                        }
                    }
                }
            }
        }
    }
    {% endif %}
  {% endif %}
{% endfor %}
}
{% for vlan in vlans %}
  {% if vlan.id|int in my_vlans %}
    {% if vlan.name|length > 0 %}
apply-groups group-{{ vlan.name }};
    {% else %}
apply-groups group-vlan{{ vlan.id }};
    {% endif %}
  {% endif %}
{% endfor %}

