{# This generates a Junos interface config. #}
{# It iteratess over a list of switches called 'switches' and does the following:  

- If "core" is detected in the switch's profile (item.profile), LAG interfaces (ae0) are created for all entries in the list "switches" with a proper interface description and VLANs set.  
- If "core" is not detected, a single LAG is created (ae0) and VLANs are set to "all."
- If a VLAN is detected to have vlans.mgmt == 'yes' in vlans, a native-vlan-id is created for that VLAN on every LAG with a matching irb interface.

-#}

interfaces {
{# Check if a 'core' switch #}
{% if 'core' in item.profile %}
{% set index = switches|length %}
  {% for x in range(0,index,1) %}
    replace:
    ae{{ x }} {
      {% if switches[x].hostname %}
        description "{{ switches[x].hostname }}(ae0) downlink ";
      {% else %}
        description "{{ switches[x].profile }}-{{ switches[x].closet }}(ae0) downlink ";
      {% endif %}
      {% for vlan in vlans %}
        {% if vlan.mgmt_vlan == 'yes' %}
        native-vlan-id {{ vlan.id }};
        {% endif %}
      {% endfor %}
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ {% for vlan in vlans %}{% if (switches[x].closet is in vlan.closets) or (vlan.closets == 'all') %}{{ vlan.name }} {% endif %}{% endfor %}];
                }
            }
        }
    }
  {% endfor %}
    replace:
    irb {
  {% for vlan in vlans %}
        unit {{ vlan.id }} {
            famly inet {
                address {{ vlan.subnet|ipaddr('next_usable')}}/{{ vlan.subnet|ipaddr('prefix') }};
            }
        }
  {% endfor %}
    }
}
{% else %}
    replace:
    ae0 {
        description "Core uplink ";
  {% for vlan in vlans %}
    {% if vlan.mgmt_vlan == 'yes' %}
        native-vlan-id {{ vlan.id }};
    {% endif %}
  {% endfor %}
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ all ];
                }
            }
        }
    }
  {% if (item.mgmt_ip is defined) %}
    {% for vlan in vlans %}
      {% if vlan.mgmt_vlan == 'yes' %}
    replace:
    irb {
        unit {{ vlan.id }} {
            famly inet {
                address {{ item.mgmt_ip }}/{{ vlan.subnet|ipaddr('prefix') }};
            }
        }
    }
      {% endif %}
    {% endfor %}
  {% endif %}
}
{% endif %}

