{# This generates a Junos protocol config. #}
{# It iterates over a list of switches called 'switches' and does the following:  

- If "core" is detected in the switch's profile (item.profile), bridge-priority is set to 4k (4096)

#}

### PROTOCOLS ###
set protocols lldp interface all
set protocols lldp-med interface all
set protocols igmp-snooping vlan all
set protocols rstp
{% if 'core' in item.profile %}
set protocols rstp bridge-priority 4k
{% else %}
set protocols rstp bpdu-block-on-edge
{% endif %}
set protocols rstp interface all
set protocols vstp vlan all

