{# This generates a Junos protocol config. #}
{# It iterates over a list of switches called 'switches' and does the following:  

- If "core" is detected in the switch's profile (item.profile), bridge-priority is set to 4k (4096)

-#}

protocols {
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan all;
    }
    rstp {
{% if 'core' in item.profile %}
        bridge-priority 4k;
{% else %}
        bpdu-block-on-edge;
{% endif %}
        interface all;
    }                                   
    vstp {
        vlan all;
    }
}

