routing-options {
    static {
{% for vlan in vlans %}
  {% if (vlan.mgmt == 'yes') and (vlan.gateway|length > 0) %}
    {% set gateway = mgmt_prefix+vlan.gateway %}
    {% if gateway | ipaddr('address') %}
        route 0.0.0.0/0 next-hop {{ mgmt_prefix }}{{ vlan.gateway }};
    {% endif %}
  {% endif %}
{% endfor %}
    }
}

