{# This generates a Junos snmp config. #}
{# The following is an example of accepted variables:

snmp:
  contact: 'admin@lab.kearley.us'
  location: '12 Hartwell Ave.'
  # engine_id: 'use-mac-address'
  communities: 
  - { string: private, authorization: read-write }
  - { string: public, authorization: read-only }
  allowed_clients:
  - { prefix: 10.10.200.0/24 } 
  - { prefix: 10.10.1.0/24 }     
  trap_targets:
  - { ip: 10.10.200.11 }
  - { ip: 10.10.200.12 }
v3:
  user: admin 
  authentication_key: '"$9$7o-s2GUHfQFiHCtuOcSYg4aDiQFnt0BJG/Cp0hcrevWNdwYgoGDyl4aJUHkfTz6p0EhrMWxeKoJZGiHP5Qn6AuO1cSeB1hrKv7NP5TQ/C0BIESrCApBIRSyWLx7bs24aUikaJz3/Cu0NdVY2aGUHfQFDjHmPfzFhSyeLx24aiqmg4z3n6AtxN-V4a"'
  privacy_key: '"$9$-XV24DjqTFnkqtuO1yrgoaZikFn/uBIGDCt0BSyevWLdbYgoJDilKaZGjq.Tz390BcSe8LNvMJGUDkq5QF/9pO1RyrvIRSeMW-d5QzFCtBIEcretp0IEhrlLxN-s24aZjk.ZG36CtOBdbwg4ZDjqTFniHqf5T3nSrlvxN4aZkmfoa36/9puNdVwaZ"'

Note: all are optional

-#}
{% if snmp is defined %}
  {% set communities = snmp.communities|length %}
  {% set targets = snmp.trap_targets|length %}
snmp {
  {% if item.hostname %}
    description "{{ item.hostname }}";
  {% else %}
    description "{{ item.profile }}-{{ item.closet }}";
  {% endif %}
  {% if snmp.location is defined %}
    location "{{ snmp.location }}";
  {% else %}
    location "{{ item.hostname }}";
  {% endif %}
  {% if snmp.contact is defined %}
    contact "{{ snmp.contact }}";
  {% endif %}
    filter-duplicates;
  {% if snmp.engine_id is defined %}
    engine-id {
        {{ snmp.engine_id }};
    }
  {% endif %}
  {% if communities > 0 %}
  {% for community in snmp.communities %}
    community {{ community['string'] }} {
        authorization {{ community['authorization'] }};
    }
  {% endfor %}
  {% endif %}
  {% if targets > 0 %}
    trap-group mytraps {
        targets {
    {% for target in snmp.trap_targets %}
            {{ target['ip'] }};
    {% endfor %}
        }
    }
    trap-options {
        enterprise-oid;
    {% if item.mgmt_host_ip %}
        source-address {{ mgmt_prefix }}{{ item.mgmt_host_ip }};
    {% endif %}
  {% endif %}
    }
  {% if snmp.v3 is defined %}
    v3 {
        usm {
            local-engine {
                user {{ snmp.v3.user }} {
                    authentication-sha {
                        authentication-key {{ snmp.v3.authentication_key }}; ## SECRET-DATA
                    }
                    privacy-aes128 {
                        privacy-key {{ snmp.v3.privacy_key }}; ## SECRET-DATA
                    }
                }
            }
        }
        vacm {
            security-to-group {
                security-model usm {
                    security-name {{ snmp.v3.user }} {
                        group snmpv3group;
                    }
                }
            }
            access {
                group snmpv3group {
                    default-context-prefix {
                        security-model usm {
                            security-level privacy {
                                read-view snmpv3-view-all;
                            }
                            security-level authentication {
                                read-view snmpv3-view-all;
                            }
                        }
                    }
                }
            }
        }
    }
    view snmpv3-view-all {
        oid .1 include;
    }
  {% endif %}
}
{% endif %}

