{# This generates a Junos virtual chassis config. #}
{# It works soley off item.switch_count when passed, where anything over 1 
triggers a template rendering.  

Notes:
- Only sets priority based virtual chassis (preprovisioned is a separate script run after the configuration is applied)
- members 0 and 1 will be set as route-engines
- If switch_count is "2", no-split-detection is set (highly recommended)

-#}

{% if item.switch_count|int > 1 %}
virtual-chassis {
    auto-sw-update;
  {% if item.switch_count|int == 2 %}
    no-split-detection;
  {% endif %}
  {% for x in range(0,item.switch_count|int, 1) %}
    member {{ x }} {
    {% if x < 2 %}
        mastership-priority 255;
    {% else %}
        mastership-priority 128;
    {% endif %}
    }
  {% endfor %}
}
{% endif %}
