{# This generates a Junos specific VLAN config. #}
{# Supported variables (example):

vlans:
- gateway: '.254'
  id: '77'
  mgmt: 'yes'
  name: MGMT
  subnet: 10.77.77.0/24
switches:
- closet: n-mezz
  hostname: n-mezz-core
  make: juniper
  mgmt_ip: 10.77.77.1
  model: ex4600
  profile: core
  serial_number: ''
  switch_count: '1'
  vlan_id_range: 22,100-134

#}

### VLANS ###

{%- set vlan_list = item.vlan_id_range.split(',') -%}
{%- set my_vlans = [] -%}
{%- for i in vlan_list -%}
  {%- if '-' is in i -%}
    {%- set x = i.split('-') -%}
    {%- for z in range(x[0]|int,x[1]|int+1,1) -%}
      {{ my_vlans.append(z|int) }}
    {%- endfor -%}
  {%- else -%}
    {{ my_vlans.append(i|int) }}
  {%- endif -%}
{%- endfor -%}
{% for vlan in vlans %}
  {% if (vlan.id|int in my_vlans) or (vlan.mgmt == 'yes') %}
    {% if vlan.name|length > 0 %}
set vlans {{ vlan.name }} vlan-id {{ vlan.id }}
      {% if vlan.description|length > 0 %}
set vlans {{ vlan.name }} description "{{ vlan.description }}"
      {% endif %}
    {% if ('core' in item.profile) or ( vlan.mgmt == 'yes') %}
set vlans {{ vlan.name }} l3-interface irb.{{ vlan.id }}
    {% endif %}
    {% else %}
set vlans vlan{{ vlan.id }} vlan-id {{ vlan.id }}
      {% if vlan.description|length > 0 %}
set vlans {{ vlan.id }} description "{{ vlan.description }}"
      {% endif %}
    {% endif %}
    {% if ('core' in item.profile) or ( vlan.mgmt == 'yes') %}
set vlans l3-interface irb.{{ vlan.id }}
    {% endif %}
  {% endif %}
{% endfor %}

